@import "tailwindcss";

@theme {
  --color-theme1: #040216;
  --color-theme2: #0F0D26;
  --color-theme3: #16152E;
  --color-theme4: #1C1B36;
  --color-highlight: #F2103A;
  --color-text: #FFFFFF;
}

::selection {
  background: #F2103A;
}